@{ 
  Layout = "_Layout";
}

@model PestFinder.Models.Location

  <button class="nav-item">@Html.ActionLink("Add Pest Sighting", "AddPest", new { id = Model.LocationId })</button>

  @if(@Model.JoinEntities.Count == 0)
  {
    <h3>This location does not currently have pest sightings</h3>
  }
  else
  {
    <h1>Pests in the @Model.Name</h1>
    <table class="table">
      <tr>
        
        <th>Pest Type</th>
        <th>Pest Number</th>
        <th>Date/Time Sighted</th>
        <th>Action Taken</th>
        <th>Pest Alivedness</th>
      
      </tr>
      @foreach (var join in Model.JoinEntities)
      {
        <tr>
            <td>
              @Html.ActionLink(@join.Pest.Type, "Details", "Pest", new { id = join.Pest.PestId })
            </td>
            <td>
              @join.Pest.Quantity
            </td>
            <td>
              @join.Pest.Sighting
            </td>
            <td>
              @join.Pest.Action
            </td>
            <td>
              @join.Pest.Alive
            </td>
        </tr>
      }
    </table>
    
    <h2>Location Activity:</h2>
      <p>@Model.PestRating</p>
    <h2>Action Plan</h2>
      <p>@Model.ActionPlan</p>
        
  }
</div>