@{ 
  Layout = "_Layout";
}

@model PestFinder.Models.Location


  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.LocationId)
    <div class="row align-items-stretch">
    <div class="col-2">
      <p>@Html.Label("Location Name")</p>
      <p>@Html.Label("Pest Rating")</p>
      <p>@Html.Label("Action Plan")</p>
    </div>

    <div class="col-6">
      <p>@Html.EditorFor(model => model.Name)</p>
      <p>@Html.EditorFor(model => model.PestRating)</p>
      <p>@Html.EditorFor(model => model.ActionPlan)</p>
    </div>
    </div>

    <button type="submit">Edit</button>
  }