@{
  Layout ="_Layout";
}

@model PestFinder.Models.Pest

<h4>Log a new pest</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  @Html.LabelFor(model => model.Sighting)
  @Html.EditorFor(model => model.Sighting)
  // , new { type="date" }

  @Html.LabelFor(model => model.Quantity)
  @Html.EditorFor(model => model.Quantity)
  // , min:0

  @Html.LabelFor(model => model.Alive)
  @Html.CheckBoxFor(model => model.Alive)

  @Html.LabelFor(model => model.Action)
  @Html.TextBoxFor(model => model.Action)
  
  <button type="submit" class="btn btn-default">Add pest</button>
}