@{
  Layout ="_Layout";
}

@model PestFinder.Models.Pest

<h4>Log a new pest</h4>

@using (Html.BeginForm())
{
  <div class="row align-items-stretch">
  <div class="col-2">
    <p>@Html.LabelFor(model => model.Type)</p>
    <p>@Html.LabelFor(model => model.Sighting)</p>
    <p>@Html.LabelFor(model => model.Quantity)</p>
    <p>@Html.LabelFor(model => model.Alive)</p>
    <p>@Html.LabelFor(model => model.Action)</p>
  </div>

  <div class="col-6">
    <p>@Html.TextBoxFor(model => model.Type)</p>
    <p>@Html.EditorFor(model => model.Sighting)</p>
    <p>@Html.EditorFor(model => model.Quantity)</p>
    <p>@Html.CheckBoxFor(model => model.Alive)</p>
    <p>@Html.TextBoxFor(model => model.Action)</p>
  </div>  
  </div>

  <button type="submit" class="btn btn-default">Add pest</button>
}