@{
  Layout ="_Layout";
}

@model PestFinder.Models.Pest

<h2>Pest Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if(Model.JoinEntities.Any())
{
  <h4>Locations for this pest:</h4>
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Date/Time of Sighting</th>
      <th>Number</th>
      <th>Aliveness</th>
      <th>Action</th>
      <th>Location</th>
    </tr>

  @foreach(var join in Model.JoinEntities)
  {
    <tr>
      <td>@Model.Type</td>
      <td>@Model.Sighting</td>
      <td>@Model.Quantity</td>
      <td>@Model.Alive</td>
      <td>@Model.Action</td>
      <td>@join.Location.Name</td>
      @using (Html.BeginForm("DeleteLocation", "Pests"))
      {
        @Html.Hidden("joinId", @join.PestLocationId)
        <input type="submit" value="delete" />
      }
    </tr>
    }
   </table>
}
else
{
  <p>This pest is not in any location</p>
}

<a href='@Url.Action("Edit", new { id = Model.PestId })'><button>Edit Pest</button></a>
<a href='@Url.Action("AddLocation", new { id = Model.PestId })'><button>Add a Location</button></a>
<a href='@Url.Action("Delete", new { id = Model.PestId })'><button>Delete Pest</button></a>
<a href='@Url.Action("Index")'><button>Back to List</button></a>
<a href='@Url.Action("Index", "Home")'><button>Home</button></a>