@{
  Layout = "_Layout";
}

@model PestFinder.Models.Pest

<h2>Edit</h2>

<h4>Edit this pest: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PestId)
  @Html.HiddenFor(model => model.User)

  <div class="row align-items-stretch">
  <div class="col-2">
  <p>@Html.LabelFor(model => model.Type)</p>
  <p>@Html.LabelFor(model => model.Sighting)</p>
  <p>@Html.LabelFor(model => model.Quantity)</p>
  <p>@Html.LabelFor(model => model.Alive)</p>
  <p>@Html.LabelFor(model => model.Action)</p>
  <p>@Html.Label("Select Location")</p>
  </div>

  <div class="col-6">
  <p>@Html.TextBoxFor(model => model.Type)</p>
  <p>@Html.EditorFor(model => model.Sighting)</p>
  <p>@Html.EditorFor(model => model.Quantity)</p>
  <p>@Html.CheckBoxFor(model => model.Alive)</p>
  <p>@Html.TextBoxFor(model => model.Action)</p>
  <p>@Html.DropDownList("LocationId")</p>
  </div>
  </div>

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'><button>Back to List</button></a>
<a href='@Url.Action("Index", "Home")'><button>Home</button></a>